body {
    background-color: #7E9AFD;
    font-family: 'Outfit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    line-height: 100px;
    letter-spacing: 1.20px;
    word-wrap: break-word;
    margin-left: 188px;
}

.red {
    background-color: #E87272;
    margin: -30px 188px 0 188px; 
    height: 500px;
    width: 1000px;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}

.yellow {
    background-color: #DBDE31;
    margin: 90px 195px 171px 368px;
    height: 708px;
    width: 1200px;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
}

p {
    color: black;
    font-size: 55px;
    text-align: center;
}

.sign-up-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.form-input,
.form-input-full {
    flex: 0 0 48%;
    margin-bottom: 20px;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 20px; 
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #ff0000;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 188px;
    box-sizing: border-box;
}
